* {
  margin: 0;
  padding: 0;
}

body {
  background: url(https://i.pinimg.com/736x/f4/99/31/f4993163a1654e1082b9ca77a38e271a.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

canvas {
  display:block;
  margin: 40px auto 20px;
  border: none;
  box-shadow: 0 0 16px 2px rgba(0,0,0,0.8);
}

p, a {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 19px;
  color: white;
  display: block;
  width: 400px;
  margin: 0 auto;
  text-align: center;
  text-decoration:none;
}

.info {
  margin:14px auto;
  text-align: justify;
  font-size: 18px;
  color: #999;
}

a {
  color:#3377ee;
}