/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Dangrek&family=Fira+Code:wght@300;400;500&family=Source+Sans+Pro&display=swap');

/*body*/
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #000000;
}


header{
    background-color: #d9d9d91c;
    height: 100%;
    width: 30%;
    position: absolute;
    float: left;
}
.profile{
    height: 34%;
    width: 100%;
    display: flex;
}
.img{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.profile img{
    height: 137px;
    border-radius: 50%;
}
.name{
    position: absolute;
    text-align: center;
    width: 100%;
}
.name h1{
    color: whitesmoke;
    font-family: 'Fira Code', monospace;
    font-size: 30px;
    text-align: center;
    margin-top: 48%;
    font-weight: 500;
}
.menubar{
    height: 40%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 10%;
}
ul.menu {height: 100%;width: 31%;text-align: center;}

ul.menu li {
    text-decoration: none;
    padding-top: 10%;
    list-style-type: none;
}

ul.menu li a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    font-family: 'Dangrek', cursive;
}

ul.menu li a:hover{
    color: #d552ff;
    transition: .5s;
}

ul.menu li:first-child a{
    color: #5896FF;
    cursor: default;
    border-bottom: 2px solid #5896FF;
}

.social{
    width: 100%;
    height: 10%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 5%;
}
ul.social_menu li {
    text-decoration: none;
    list-style-type: none;
    float: left;
    padding: 0%;
    margin-left: 42px;
}

ul.social_menu li a {
    text-decoration: none;
    color: white;
    font-size: 23px;
    text-transform: uppercase;
    font-family: 'Dangrek', cursive;
}
ul.social_menu li:first-child {
    margin-left: 0px;
}

ul.social_menu li a:hover{
    color: #d552ff;
    transition: 0.5s;
}
.elements {
    height: 100%;
    background-color: #000000;
    width: 70%;
    position: absolute;
    margin-left: 30%;
}
.titles {
    height: 70%;
    float: left;
    width: 50%;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 18%;
    margin-left: 2%;
}

.titles h3 {
    color: white;
    font-size: 29px;
    padding: 7% 7% 1% 7%;
    font-family: 'Source Sans Pro', sans-serif;
}
.titles h1 {
    color: #5896FF;
    font-size: 68px;
    padding-left: 7%;
    font-family: 'Fira Code', monospace;
}
.titles p{
    font-size: 19px;
    color: white;
    padding: 5% 0% 0% 7%;
}
.loader{
    height: 82%;
    width: 47%;
    margin-top: 9%;
    float: left;
    margin-left: 50%;
    position: absolute;
}
.frame{
    background-image: url("../resources/home/frame.png");
    height: 350px;
    width: 350px;
    background-size: cover;
    margin-left: 15%;
    margin-top: 8%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.animation {
    background-image: url(../resources/home/animation.gif) ;
    background-size: cover;
    height: 92%;
    margin-left: 1%;
    width: 92%;
}
footer{
    height: 23px;
    width: 30%;
    background-color: transparent;
    position: absolute;
    color: white;
    margin-top: 46.5%;
    text-align: center;
    font-family: monospace;
    font-size: 16px;
}