@media (orientation:portrait){

    /*Header starts*/    
    
        .showcase{
            height: 140px;
            width: 100%;
            align-items: center;
            justify-content: center;
            display: flex;
        }
        .sc-img{
            height: 70px;
            width: 300px;
            background-image: url('../resources/gallery/Showcase.png');
            background-size: cover;
            
        }
        
        /*Social Icons*/
        
        .social-icons{
            display: none;
        }
    
        /*Navigation*/
        .menu-items{
            height: 50px;
            width: 100%;
        }
        nav{
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            display: flex;
        }
        nav ul{
            height: 100%;
            width: 79%;
            margin-left: 10px;
            align-items: center;
            justify-content: center;
            display: flex;
        }
        nav li{
            float: left;
            padding: 4%;
        }
        nav li a{
            color: white;
            font-size: 15px ;
            transition: .4s;
            font-family: 'Fira Code', monospace;
        }
        nav li:nth-child(2) a{
            color: #FF5757;
            cursor: default;
        }
        nav li:nth-child(2) a:hover{
            color: #FF5757;
        }
        nav li a:hover{
            color: #698EFF;
        }
    
    /*second devition starts*/
    
        /*Heading*/
    
        .second{
            height: 2200px;
            width: 100%;
        }
        .favourites{
            height: 143px;
            width: 100%;
            align-items: center;
            justify-content: center;
            display: flex;
            font-size: 15px;
            color: #698EFF;
            font-family: 'Alegreya SC', serif;
        }
        /*main part of second divition*/
    
        /*Faourites*/
    
    
    
        .frame1, .frame2, .frame3{
            height: 700px;
            width: 100%;
            margin: auto;
            display: flex;
            justify-content: center;
    
        }
        .detail, .detail2, .detail3{
        height: 94%;
        width: 70%;
        position: absolute;
        margin-top: 373px;
        text-align: center;
        }
    
        .second h1{
            color: white;
            font-size: 25px;
            padding: 13px;
            width: 100%;
            font-family: 'Ubuntu', sans-serif;
        }
    
        .second p{
            font-family: 'Fira Code', monospace;
            color: aliceblue;
            font-size: 12px;
            padding: 16px;
            width: 80%;
            margin: auto;
        }
        
        .in-frame{
            background-image: url('../resources/gallery/frame1.png');
        }
        .in-frame-3{
            background-image: url('../resources/gallery/frame3.png');
        }
        .in-frame, .in-frame-3{
            height: 307px;
            width: 250px;
            background-size: cover;
        }
        .in-frame-2{
            height: 307px;
            width: 250px;
            background-image: url('../resources/gallery/frame2.png');
            background-size: cover;
            margin-top: 64px;
        }
        
        /*insider images of books in frames*/
        
        .book-img{
            background-image: url('../resources/gallery/osrujole.png');
        }
        .book-img-2{
            background-image: url('../resources/gallery/bela-furabar-age.png');
        }
        .book-img-3{
            background-image: url('../resources/gallery/ma-ma-ma.png');
        }
        .book-img, .book-img-2, .book-img-3{
            height: 247px;
            width: 163px;
            background-size: cover;
            margin-top: 31px;
            margin-left: 45px;
            border-top-right-radius: 20px;
            border-bottom-left-radius: 20px;
        }
    
    /*Third section starts*/
    
        section.third{
            height: 2000px;
            background-color: #121212;
            width: 100%;
        }
        .box{
            height: 60%;
            width: 100%;
            align-items: center;
            justify-content: center;
            display: flex;
        }
        .recent{
            height: 20%;
            width: 100%;
            font-size: 15px;
            color: #698EFF;
            font-family: 'Alegreya SC', serif;
            align-items: center;
            justify-content: center;
            display: flex;
        }
        .main-box{
            width: 100%;
            height: 100%;
        }
        .self1, .self2, .self3, .self4{
            background-color: #3B3B3B;
            height: 341px;
            box-shadow: 0 0 25px black;
            width: 50%;
            align-items: center;
            border-radius: 10px;
            margin-left: auto;
            border-bottom-left-radius: 10px;
            display: flex;
            justify-content: center;
            margin-top: 3%;
            margin-right: auto;
        }
    
    
    
    
        .small-frame1{
            background-image: url('../resources/gallery/reclaim.png');
        }
        .small-frame2{
            background-image: url('../resources/gallery/dopamin.png');
        }
        .small-frame3{
            background-image: url('../resources/gallery/porisuddho.png');
        }
        .small-frame4{
            background-image: url('../resources/gallery/dekhchen.png');
        }
        .small-frame1, .small-frame2, .small-frame3, .small-frame4{
            height: 77%;
            width: 87%;
            background-size: cover;
            margin-top: 7%;
            border-radius: 10px;
            margin-left: 7%;
        }
        .main-box h3{
            width: 100%;
            height: 10%;
            text-align: center;
            color: white;
            padding: 8% 0px;
            font-family: 'Fira Code', monospace;
            font-size: 13px;
            font-weight: 300;
        }
    
    
    /*Forth Section*/
    
    
        
    .forth{
        height: 600px;
        width: 100%;
        background-color: black;
    }
    .two_type_lists{
        margin: auto;
        height: 400px;
        width: 90%;
        align-items: center;
        justify-content: center;
        display: flow-root;
    }
    .collection, .next{
        width: 40%;
        height: 86%;
        margin-top: 2%;
    }
    .collection{
        float: left;
    }
    .next{
        float: right;
    }
    .collection h4, .next h4 {
        font-size: 18px;
        padding: 8%;
        font-family: 'Fira Code', monospace;
        margin-left: 10px;
    }
    .collection h4{
        color: #ff4b4b;
    }
    .next h4{
        color: #FF66C4;
    }
    .collection ul, .next ul{
        color: white;
        font-size: 10px;
        font-family:arial;
    }
    .collection ul li, .next ul li{
        padding:1%;
        margin-left:10%;
        margin-top: 0.5%;
        font-family: 'Montserrat Alternates', sans-serif;
    }
    .social-icons-2{
        height: 45px;
        width: 100%;
    }
    .ico{
        height: 100%;
        width: 42%;
        margin: auto;
    }
    .social-icons-2 li{
        float: left;
        padding: 4%;
        font-size: 25px;
        margin-left: 28px;
    }
    .social-icons-2 li a{
        color: white;
        transition: .4s;
        font-size: 20px;
        font-family: 'Fira Code', monospace;
    }
    .social-icons-2 li a:hover{
        color: #FF5757;
    }
    
/*Footer part, #Copyright*/
    
    footer{
        height: 79px;
        width: 100%;
        color: white;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        font-size: 7px;
        font-family: 'Montserrat Alternates';
    }
    .self1 {margin-top: 0;}
        
    }
    
    
    