@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&family=Alex+Brush&family=Alice&family=Dangrek&family=Fira+Code:wght@300;500&family=Montserrat+Alternates:wght@300&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Source+Sans+Pro&family=Ubuntu:wght@300&family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box
}

body{
  background-color: black;
  list-style: none;
  text-decoration: none;
  list-style:none;
  text-decoration: none;
}
/*Header*/
header{
height: 100px;
background: black;
display: flex;
justify-content: space-between;
overflow: hidden;
}
.image{
width: 195px;
height: 100px;
margin-left: 10%;
float: left;
display: flex;
justify-content: center;
align-items: center;
}
.logo{
background-image: url('../resources/blog/logo.png');
background-size: cover;
  width: 200px;
  height: 100px;
}
@media (max-width: 992px){
  .logo{
    width: 150px;
    height: 76px;
  }
}
@media (max-width: 760px){
  .logo{
      width: 170px;
      height: 85px;
  }
}
@media (max-width: 450px){
  .logo{
      width: 160px;
      height: 80px;
  }
}

/*Menu Bar*/
.menubar{
font-family: 'Poppins',sans-serif;
}

.navigation{
position: fixed;
top: 20px;
right: 20px;
height: 51px;
width: 240px;
z-index: 100;
}
.toggle{
position: relative;
top: 0;
left: 0;
width: 100%;
height: 50px;
background: transparent;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
color: #fff;
padding: 5px 20px ;
}
.toggle::before{
content: '';
margin-left: 10px;
}
.toggle.active::before{
content: '';
}
.toggle span{
width: 20px;
height: 50px;
position: relative;
margin-left: 10px;
}
.toggle span::before{
content: '';
position: absolute;
top: 20px;
left: 0;
width: 100%;
height: 2px;
background: white;
transition: 0.5s;
}
.toggle span::after{
content: '';
position: absolute;
bottom: 20px;
left: 0;
width: 100%;
height: 2px;
background: white;
transition: 0.5s;
}
.toggle.active span::before{
transform: rotate(225deg);
top: 24px;
}
.toggle.active span::after{
transform: rotate(135deg);
bottom: 24px;
}
.navigation ul{
position: relative;
list-style: none;
display: flex;
flex-direction: column;
}
.navigation ul li{
position: relative;
list-style: none;
transition: 0.5s;
visibility: hidden;
opacity: 0;
transform: translateX(-250px);
transition-delay: calc(0.1s * var(--i));
}
.navigation.active ul li{
visibility: visible;
opacity: 1;
transform: translateX(0px);
}
.navigation ul li a{
position: relative;
text-decoration: none;
display: block;
padding: 10px 20px;
height: 50px;
background-color: rgba(68, 68, 68, 0.747);
color: white;
transition: 0.5s;
}
.navigation ul li a:hover{
background: #444;
color: #2137ff;
transition: 0s;
}

.navigation ul li:nth-child(6) a {
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
}
@media (max-width: 992px){
.navigation{
    width: 230px;
}
}

@media (max-width: 770px){
.navigation{
    width: 200px;
    margin-top: 12px;
}
}
@media (max-width: 430px){
.navigation{
    width: 130px;
}
.toggle{
    background: transparent;
}
.toggle::before{
    content: '';
    margin-left: 0px;
}
.toggle.active::before{
    content: '';
}
}



/*Slider*/


.second{
  height: 100vh;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #1D212B;
}

.img-slider{
  position: relative;
  width: 1000px;
  height: 535px;
  margin: 10px;
  background: #1D212B;
}

.img-slider .slide{
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.img-slider .slide img{
  z-index: 1;
  width: 100%;
  border-radius: 5px;
}

.img-slider .slide .info{
  position: absolute;
  top: 70px;
  padding: 15px 30px;
  width: 600px;
}

.img-slider .slide .info h2{
  color: #4a4cff;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 800;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 0px;
  margin-left: 10px;
}

.img-slider .slide .info p{
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  font-size: 14px;
  width: 60%;
  padding: 10px;
  font-family: 'Josefin Sans', sans-serif;
  border-radius: 4px;
}
.img-slider .navigation{
  z-index: 2;
  position: absolute;
  display: flex;
  left: 50%;
  transform: translateX(-45%);
  align-items: center;
  justify-content: center;
  top: 550px;
}

.img-slider .navigation .btn{
  background: rgba(255, 255, 255, 0.5);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.img-slider .navigation .btn.active{
  background: #2696E9;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 820px){
  .img-slider{
    width: 800px;
    height: 486px;
  }

  .img-slider .slide .info{
    padding: 10px 25px;
  }

  .img-slider .slide .info h2{
    font-size: 23px;
  }

  .img-slider .slide .info p{
    width: 50%;
    font-size: 13px;
  }

  .img-slider .navigation{
  top: 375px;
  }

  .img-slider .navigation .btn{
    width: 10px;
    height: 10px;
    margin: 8px;
  }
}

@media (max-width: 620px){
  .img-slider{
    width: 560px;
    height: 375px;
  }

  .img-slider .slide .info{
    padding: 10px 20px;
  }

  .img-slider .slide .info h2{
    font-size: 16px;
  }

  .img-slider .slide .info p{
    width: 35%;
    font-size: 13px;
  }

  .img-slider .navigation{
    top: 250px;
  }

  .img-slider .navigation .btn{
    width: 8px;
    height: 8px;
    margin: 6px;
  }
}

@media (max-width: 420px){
  .img-slider{
    width: 520px;
    height: 258px;
  }

  .img-slider .slide .info{
    padding: 5px 10px;
    width: 185px;
  }

  .img-slider .slide .info h2{
    font-size: 15px;
  }

  .img-slider .slide .info p{
    width: 90%;
    font-size: 9px;
  }

  .img-slider .navigation{
    top: 175px;
  }
}
