
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box
}
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&family=Alex+Brush&family=Alice&family=Dangrek&family=Fira+Code:wght@300;500&family=Montserrat+Alternates:wght@300&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Source+Sans+Pro&family=Ubuntu:wght@300&family=Unica+One&display=swap');

body{
  background-color: black;
  list-style: none;
  text-decoration: none;
  list-style:none;
  text-decoration: none;
}header{
height: 100px;
background-color: #0d0d0d;
display: flex;
align-items: center;
justify-content: space-between;
overflow: hidden;
}
.image{
width: 195px;
height: 100%;
margin-left: 10%;
float: left;
display: flex;
justify-content: center;
align-items: center;
}
.logo{
background-image: url('../resources/blog/logo.png');
background-size: cover;
  width: 200px;
  height: 100px;
}
@media (max-width: 992px){
  .logo{
    width: 150px;
    height: 76px;
  }
}
@media (max-width: 760px){
  .logo{
      width: 170px;
      height: 85px;
  }
}
@media (max-width: 450px){
  .logo{
      width: 160px;
      height: 80px;
  }
}

/*Menu Bar*/
.menubar{
font-family: 'Poppins',sans-serif;
}

.navigation{
position: fixed;
top: 20px;
right: 20px;
height: 51px;
width: 240px;
z-index: 100;
}
.toggle{
position: relative;
top: 0;
left: 0;
width: 100%;
height: 50px;
background: black;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
color: #fff;
padding: 5px 20px ;
}
.toggle::before{
content: 'Menu';
margin-left: 10px;
}
.toggle.active::before{
content: 'Close';
}
.toggle span{
width: 20px;
height: 50px;
position: relative;
margin-left: 10px;
}
.toggle span::before{
content: '';
position: absolute;
top: 20px;
left: 0;
width: 100%;
height: 2px;
background: white;
transition: 0.5s;
}
.toggle span::after{
content: '';
position: absolute;
bottom: 20px;
left: 0;
width: 100%;
height: 2px;
background: white;
transition: 0.5s;
}
.toggle.active span::before{
transform: rotate(225deg);
top: 24px;
}
.toggle.active span::after{
transform: rotate(135deg);
bottom: 24px;
}
.navigation ul{
position: relative;
list-style: none;
display: flex;
flex-direction: column;
}
.navigation ul li{
position: relative;
list-style: none;
transition: 0.5s;
visibility: hidden;
opacity: 0;
transform: translateX(-250px);
transition-delay: calc(0.1s * var(--i));
}
.navigation.active ul li{
visibility: visible;
opacity: 1;
transform: translateX(0px);
}
.navigation ul li a{
position: relative;
text-decoration: none;
display: block;
padding: 10px 20px;
height: 50px;
background-color: rgba(68, 68, 68, 0.747);
color: white;
transition: 0.5s;
}
.navigation ul li a:hover{
background: #444;
color: #2137ff;
transition: 0s;
}

.navigation ul li:nth-child(6) a {
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
}
@media (max-width: 992px){
.navigation{
    width: 230px;
}
}

@media (max-width: 770px){
.navigation{
    width: 200px;
    margin-top: 12px;
}
}
@media (max-width: 430px){
.navigation{
    width: 130px;
}
.toggle{
    background: transparent;
}
.toggle::before{
    content: '';
    margin-left: 0px;
}
.toggle.active::before{
    content: '';
}
}



