
 @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Inspiration&family=Josefin+Sans:wght@300;400&family=Unica+One&display=swap');
 
 *, *:before, *:after {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 
 html, body {
     height: 100%;
 }
 
 html {
     scroll-behavior: smooth;
 }
 
 body {
     background-color: black;
     font-family: 'Josefin Sans', sans-serif;
 }
 
 a {
     cursor: pointer;
 }
 
 section {
     padding: 50px 0;
 }
 
 /* =============== */
 /* +++ NAVBAR +++ */
 /* =============== */
 /* header */
 
 #header {
     background-color: #252934;
     position: fixed;
     width: 100%;
     z-index: 30;
   }
   
 #navbar img {
     height: 47px;
   }
 
#skills {
  background: #010024;
}  
   #header ul {
     margin: 0;
     padding: 0;
     list-style: none;
     overflow: hidden;
     background-color: #252934;
   }
   
   #header ul li {
       text-align: center;
   }
   
   .nav-link {
     display: block;
     padding: 20px 20px;
     text-decoration: none;
     font-family: 'Fredoka One', cursive;
     color: #fff;
     font-size: 17px;
     font-weight: 100;
   }
   
   .nav-link:hover::after {
       display: block;
       width: 10%;
       border-bottom: 2px solid #F0FFFF;
       content: '';
       margin: 0 auto;
     }
   
   #header .logo {
     display: block;
     float: left;
     font-size: 0;
     padding: 14px 35px;
     text-decoration: none;
     color: #fff;
   }
   
   /* menu */
   
   #header .menu {
     clear: both;
     max-height: 0;
     transition: max-height .2s ease-out;
   }
   
   /* menu icon */
   
   #header .menu-icon {
     cursor: pointer;
     float: right;
     padding: 28px 20px;
     position: relative;
     user-select: none;
   }
   
   #header .menu-icon .nav-icon {
     background: #fff;
     display: block;
     height: 2px;
     position: relative;
     transition: background .2s ease-out;
     width: 18px;
   }
   
   #header .menu-icon .nav-icon:before,
   #header .menu-icon .nav-icon:after {
     background: #fff;
     content: '';
     display: block;
     height: 100%;
     position: absolute;
     transition: all .2s ease-out;
     width: 100%;
   }
   
   #header .menu-icon .nav-icon:before {
     top: 5px;
   }
   
   #header .menu-icon .nav-icon:after {
     top: -5px;
   }
   
   /* menu btn */
   
   #header .menu-btn {
     display: none;
   }
   
   #header .menu-btn:checked ~ .menu {
     max-height: 240px;
   }
   
   #header .menu-btn:checked ~ .menu-icon .nav-icon {
     background: transparent;
   }
   
   #header .menu-btn:checked ~ .menu-icon .nav-icon:before {
     transform: rotate(-45deg);
     top:0;
   }
   
   #header .menu-btn:checked ~ .menu-icon .nav-icon:after {
     transform: rotate(45deg);
     top:0;
   }
   
 /* =============== */
 /* +++ WELCOME PAGE +++ */
 /* =============== */
 
 #welcome-section {
     background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(https://images.unsplash.com/photo-1552308995-2baac1ad5490?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
     height: 100vh;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     text-align: center;
     background-attachment: fixed;
     overflow: hidden;
 }
 
 h1, #welcome-section p {
     font-family: 'Josefin Sans', sans-serif;
     color: #F0FFFF;
     text-shadow: 2px 2px 4px #000000;
 }
 
 h1 {
     font-size: 4em;
     margin-top: 35vh;
 }
 
 #welcome-section p {
     font-size: 2em;
 }
 
 /* =============== */
 /* +++ SKILLS PAGE +++ */
 /* =============== */
 h2 {
     font-weight: 400;
     font-size: 3em;
     text-align: center;
     text-transform: capitalize;
     color: white;
 }
 
 h2::after {
     content: "";
     display: block;
     width: 5%;
     height: 2px;
     margin: 0 auto;
     background-color: #000;
     margin-top: 10px;
 }
 
 .one-by-three {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
     margin: 20px auto;
     width: 90%;
 }
 
 .one-by-three-box {
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
     width: 30%;
     height: 200px;
     margin: 20px 0;
     background-color: #ffffffdb;
     border: 1px solid #dfd9d9;
     border-radius: 20px;
 }
 
 .skills-icon {
     font-size: 5em;
 }
 
 h3 {
     font-size: 1.5em;
     font-weight: 700;
     color: #2e2a2a;
 }
 
 .fa-html5 {
     color: #e34f26;
 }
 .fa-python {
    color: #4B8BBE;
}
.fa-bootstrap{
    color:#563d7c;
}

 .fa-css3-alt {
     color: #0645ad;
 }
 
 .fa-js-square {
     color: #f7df1e;
 }
 
 .fa-github {
     color: #6e5494;
 }
 
 .fa-sass {
     color: #c69;
 }
 
 .fa-node {
     color: #3C873A;
 }
 
 .fa-linkedin-in {
     color: #0e76a8;
 }
 
 /* ====================== */
 /* +++ PROJECTS PAGE +++ */
 /* ==================== */
 
 #projects {
     background-image: linear-gradient(to top, #171717 0%, #353535 99%, #000 100%);
 }
 
 .project-tile {
     /* border: 1px solid #4b577c; */
     border-radius: 10px;
     text-align: center;
     width: 30%;
     position: relative;
     overflow: hidden;
     margin: 15px 0;
 }
 
 .project-tile .project-icon:hover {
     transform: scale(1.25);
 }
 
 .project-image {
     display: block;
     width: 100%;
     height: 250px;
     object-fit: cover;
 }
 
 .project-tile h3 {
     background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(51,102,153,1) 0%, rgba(68,116,163,1) 90% );
     color: #fff;
     padding: 7px 0;
     font-weight: 400;
     font-size: 1.5em;
 }
 .project-tile p {
     position: absolute;
     top: 85%;
     left: 50%;
     transform: translate(-50%, -50%);
 }
 
 .project-icon {
     color: #52a8da;
     background-color: #fff;
     font-size: 1.25em;
     border-radius: 50%;
     padding: 7px;
 }
 
 .project-tile span {
     margin-right: 15px;
 }
 
 .more-button {
     border: 2px solid #dfd9d9;
     border-radius: 5px;
     display: block;
     font-size: 1.4em;
     font-family: 'Dosis';
     font-weight: 800;
     padding: 10px;
     margin: 20px auto;
 }
 
 .more-button i {
     font-size: .9em;
 }
 
 /* ===================== */
 /* +++ CONTACT PAGE +++ */
 /* =================== */
 #contact {
     background: #252934;
     padding-bottom: 150px;
 }
 
 /* #contact::after {
     content: "";
     clear: both;
     display: table;
 } */
 
 #contact h2 {
     color: #fff;
 }
 
 #contact h2::after {
     background-color: #fff;
 }
 
 #contact p {
     color: #52a8da;
     text-align: center;
     margin: 20px 0;
     font-size: 1.5em;
 }
 
 #contact h2 {
     padding-top: 25px;
 }
 
 /* contact form */
 .contact-form, .contact-social-icons {
     width: 75%;
     margin: 0 auto;
     text-align: center;
 }
 
 input {
     font-family: 'Dosis';;
     display: block;
     margin: 10px auto;
 }
 
 input, textarea {
     width: 40%;
     font-size: 1.1em;
     background-color: rgba(48, 52, 63, 0.726);
     color: #FFF;
     outline: none;
     border: none;
     padding: 10px;
 }
 
 input:focus, textarea:focus, select:focus{
     outline: none;
 }
 
 input[type=submit] {
     cursor: pointer;
     color: #fff;
     border: 1px solid #fff;
     width: 20%;
 }
 
 
 /* =============== */
 /* +++ FOOTER +++ */
 /* ============= */
 footer p {
     margin: 10px 0;
     text-align: center;
     color: #cd5c5c;
 }
 
 .contact-social-icons {
     margin: 20px auto;
 }
 
 .social-icon {
     font-size: 1.5em;
     margin-right: 50px;
 }
 
 a {
     text-decoration: none;
     color: #52a8da;
 }
 footer{
    background: #000;
 }
 
 /* ==================== */
 /* +++ MEDIA QUERY +++ */
 /* ================== */
 @media screen and (max-width: 1300px) {
     h1 {
         font-size: 4em;
     }
 
     #welcome-section p {
         font-size: 2em;
     }
 
     #projects .one-by-three {
         width: 95%;
     }
 
     input, textarea {
         width: 50%;
     }
 }
 
 @media screen and (max-width: 1200px) {
    #skills .one-by-three {
        width: 100%;
    } 
 
    .project-image {
        height: 200px;
    }
 }
 
 @media screen and (max-width: 1000px) {
     #projects .one-by-three {
         width: 100%;
     }
 
    #projects .one-by-three {
         flex-wrap: wrap;
         /* display: inline-block; */
     }
 
     .project-tile {
         width: 45%;
     }
 
     input, textarea {
         width: 75%;
     }
 }
 
 @media screen and (max-width: 700px) {
     .one-by-three-box {
         width: 40%; 
      }
 
      .project-tile h3 {
          font-size: 1.25em;
      }
 
 }
 
 @media screen and (max-width: 600px) {
     h1 {
         font-size: 3m;
     }
 
     #welcome-section p {
         font-size: 1.6em;
     }
 
     .project-tile {
         width: 85%;
     }
 
     .project-tile h3 {
         font-size: 1.5em;
     }
 
     input, textarea {
         width: 100%;
     }
 
     input[type=submit] {
         width: 50%;
     }
 
 }
 
 
 /* 48em = 768px @ 16pt font */
   
 @media (min-width: 48em) {
     #header li {
       float: left;
     }
     
     .nav-link {
       padding: 12px 30px;
     }
     #header .menu {
       clear: none;
       float: right;
       max-height: none;
       margin: 13px auto;
       align-items: center;
       display: flex;
       justify-content: center;
       font-family: 'Fredoka One', cursive;
       margin-right: 45px;
     }
     #header .menu-icon {
       display: none;
     }
   
     #header li a:hover::after {
       width: 70%;
       }
   }