@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&family=Alex+Brush&family=Alice&family=Atma:wght@300;400;600&family=Dangrek&family=Fira+Code:wght@300;500&family=Montserrat+Alternates:wght@300&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Source+Sans+Pro&family=Ubuntu:wght@300&family=Unica+One&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #181818;
}
.container_nn{
    position: relative;
    width: 2100px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}
.container_nn .card{
    position: relative;
    max-width: 300px;
    height: 220px;
    background-color: #fff;
    margin: 31px 10px;
    padding: 20px 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 25px rgb(0 0 0 / 50%);
    transition: 0.3s ease-in-out;
}
.container_nn .card:hover{
    height: 340px;
}
.container_nn .card .imbx{
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 0px;
    background: #ffffff00;
    align-items: center;
    z-index: 1;
    box-shadow: 0 5px 20px rgb(0 0 0 / 44%);
    display: flex;
    justify-content: center;
}
.container_nn .card .imbx img{
    max-width: 100%;
    border-radius: 4px;
}
.container_nn .card .content{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.container_nn .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}
.book_img1, .book_img2, .book_img3, .book_img4{
    background-size: cover;
    height: 260px;
    width: 160px;
}
.book_img1{
    background-image: url('../resources/gallery/reclaim.png');
}
.book_img2{
    background-image: url('../resources/gallery/dopamin.png');
}
.book_img3{
    background-image: url('../resources/gallery/porisuddho.png');
}
.book_img4{
    background-image: url('../resources/gallery/dekhchen.png');
}
.content h2 {
    width: 257px;
}